<div ng-include="'page/nav.html'"></div>
<div class="container">
    <ol class=" breadcrumb mar">
        <li><a href="#/dingcan">首页</a></li>
        <li>详情</li>
    </ol>
</div>
<div class="container">
    <div class="panel panel-default btn-mar">
        <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
        <div class="panel-body mb-pad">
            <div class="stkwx">【酸甜开胃虾】</div>
            <img src="img/p0281-l.jpg" class="img-responsive img-pad"/>
            <p class="p-pad"><b>主要面食：</b>明虾、番茄酱、白糖、白醋、葱、姜、淀粉</p>
            <p class="p-pad">为面板中不需要边框的表格添加 .table 类，是整个面板看上去更像是一个整体设计。如果是带有 .panel-body 的面板，我们为表格的上方添加一个边框，看上去有分隔效果。如果没有
                .panel-body ，面版标题会和表格连接起来，没有空隙。面版标题会和表格连接起来，没有空隙面版标题会和表格连接起来，没有空隙面版标题会和表格连接起来，没有空隙</p>
            <p class="p-pad cor">￥36.00</p>
        </div>

        <div class="panel-footer" style="overflow: hidden;">
            <p class="pull-right">
                <!--<button style="margin-bottom:80px;" class="btn btn-success" ng-click="xiayige()">我要订餐</button>-->
                <a class="btn btn-success" href="#/xinxi">我要订餐</a>
                <!--<button class="btn btn-danger" ng-click="bAck()">我在看看</button>-->
                <a class="btn btn-danger"  href="#/dingcan">我在看看</a>
            </p>

        </div>
    </div>
</div>


<div ng-include="'page/foot.html'"></div>
